<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="15 seconds">

    <property name="LOG_HOME" value="/app/logs" />
    <springProfile name="develop">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %highlight(%-5level) CLASS: %class{36} METHODE: %cyan(%M) LINE: %L MESSAGE: %yellow(%msg%n) %ex{short}</pattern>
            </encoder>
        </appender>
        <root level="info">
            <appender-ref ref="console" />
        </root>
    </springProfile>

    <springProfile name="server">
        <!-- Simple file output -->
        <appender name="server" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd  HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
            </encoder>
            <file>${LOG_HOME}/v2config.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>${LOG_HOME}/backup/v2config-date-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <maxFileSize>1GB</maxFileSize>
                <totalSizeCap>2GB</totalSizeCap>
                <maxHistory>5</maxHistory>
            </rollingPolicy>
        </appender>
        <root level="info">
            <appender-ref ref="server" />
        </root>
    </springProfile>
</configuration>